blinker
certifi
charset-normalizer
click
colorama
dnspython
dominate
email-validator
flask-bootstrap
flask-login
flask-mail
flask-moment
flask-sqlalchemy
flask-wtf
flask
greenlet
gunicorn
idna
itsdangerous
jinja2
markupsafe
python-dotenv
requests
setuptools
sqlalchemy
stripe
urllib3
visitor
werkzeug
wtforms
